.button {
  font-family: 'Paperlogy-7Bold';
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  background-color: #c9ffe5;
  color: #482505;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}