.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100%);
}

.chatContainer {
  overflow-y: hidden;
  flex-grow: 1;

}

.chatList::-webkit-scrollbar {
  display: none;
}

.chatList {
  width: 100%;
  height: calc(100% - 80px);
  overflow-y: scroll;
}

.inputContainer {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
}