.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chatContainer {
  width: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  flex-grow: 1;
}

.chatContainer::-webkit-scrollbar {
  display: none;
}