.container {
  width: 100%;
  height: 100%;
  border-top: 2px solid aqua;
}

.chat {
  display: flex;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.nickname {
  font-size: 14px;
  margin-right: 1em;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 100px;
  background-color: aqua;
  color: black;
}

.date {
  align-self: flex-end;
  color: #afafaf;
}

.content {
  flex-grow: 1;
}

.write {
  display: flex;
  width: 100%;
  margin: 20px 0;
}

.userImg {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-right: 10px;
}

.inputContainer {
  flex-grow: 1;
}

.chatInput, .chatInput:focus-visible {
  width: 100%;
  padding: 0.5em;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  outline: none;
}

.btnContainer {
  margin-top: 10px;
  float: right;
}

.cancleBtn {
  background-color: rgb(219, 219, 219);
  margin-right: 10px;
}