.panel {
  padding: 0 10px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 28px;
  margin: 20px;
  height: 5%;
  user-select: none;
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-grow: 1;
}

.friend {
  display: flex;
  align-items: center;
  padding: 10px;

  &>p {
    font-size: 24px;
    color: black;
    margin-left: 15px;
  }
}

.friend:hover {
  background-color: #eee;
  border-radius: 8px;
}

.profile {
  height: 45px;
  width: 45px;
  position: relative;
  user-select: none;

  & img {
    height: 100%;
    width: 100%;
    border-radius: 100px;
  }
}

.statusCircle {
  color: rgb(109, 109, 109);
  width: 15px;
  height: 15px;
  background-color: rgb(203, 203, 203);
  border: 2px solid rgb(78, 78, 78);
  border-radius: 100px;
  position: absolute;
  right: 3px;
  bottom: 0px;
  font-size: 14px;
}

.online {
  background-color: rgb(94, 250, 94);
}

.offline {
  background-color: #fff;
}

.away {
  background-color: rgb(255, 158, 13);
}

/* Chrome, Whale, Edge */

/* 스크롤바 전체 기본 꾸미기 */
.content::-webkit-scrollbar {
  width: 7px;
}

/* 스크롤바 막대 꾸미기 */
.content::-webkit-scrollbar-thumb {
  background: inherit;
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}