.navbar {
  padding: 20px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 20px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 2px 0;

  & p {
    margin-left: 10px;
    user-select: none;
  }
}

.menu:hover, .activeMenu {
  background-color: rgb(217, 226, 225);
}