.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.input {
  font-size: 20px;
  padding: 0.3em;
  width: 100%;
  margin-bottom: 15px;
}

.btn {
  align-self: flex-end;
}