#navbar {
  border: 1px solid black;
  border-left: none;
  border-right: none;
  height: 70px;
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  color: black;
  color: rgb(114, 114, 114);
  padding: 10px;

  & a {
    font-size: 26px;
    padding: 0 10px;
  }
}

.logo {
  font-size: 30px;
  display: flex;
  align-items: center;
  color: rgb(96, 255, 229);
  margin-right: 30px;
  user-select: none;

  & label {
    font-family: 'LOTTERIACHAB';
  }
}

.search-container {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 26px;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  width: 50%;
  min-width: 250px;
}

.search-input {
  border: none;
  height: 60%;
  font-size: 20px;
  width: 100%;
  padding: 0 10px;
  background-color: inherit;
}

.search-input:focus-visible {
  outline: none;
}