@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GyeonggiTitleM';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GyeonggiTitleM', 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

#main-panel {
  position: absolute;
  top: 70px;
  left: 240px;
  width: calc(100% - 480px);
  height: calc(100% - 70px);
}