.container {
  display: flex;
  padding: 10px 0px;
  max-width: 60%;
  justify-self: flex-end;
}

.otherChatContainer {
  justify-self: flex-start;
}

.chat {
  font-family: 'Paperlogy-5Medium';
  background-color: #eee;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  margin-top: 8px;
  margin-left: 4px;
}

.otherChat {
  justify-content: left;
  background-color: aqua;
}

.url {
  cursor: pointer;
  user-select: none;
}

.highlight {
  background-color: yellow;
}

.profile {
  display: flex;
  justify-content: center;
}

.profileImage {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: inherit;
}

.chatContainer {
  display: flex;
  flex-direction: column;
}

.name {
  margin-top: 5px;
  margin-left: 5px;
}
