.write {
  display: flex;
  width: 100%;
  margin: 20px 0;
}

.userImg {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-right: 10px;
}

.inputContainer {
  flex-grow: 1;
}

.chatInput, .chatInput:focus-visible {
  width: 100%;
  padding: 0.5em;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid var(--border-color);
  outline: none;
}

.btnContainer {
  margin-top: 10px;
  float: right;
}

.cancleBtn {
  background-color: var(--grey-color) !important;
  margin-right: 10px;
}