.container {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  width: 100%;
}

.rootChat {
  display: flex;
  align-items: center;
}

.name {
  font-size: 14px;
  margin-right: 1em;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 100px;
  background-color: aqua;
  color: black;
}

.writerName {
  background-color: #eee;
}

.date {
  align-self: flex-end;
  color: #afafaf;
}

.content {
  flex-grow: 1;
  cursor: pointer;
}

.showReply {
  visibility: visible !important;
}