.topNav {
  text-align: center;
  font-size: 30px;  
  background-color: #3f3f3ff4;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
}

.postContainer {
  width: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  margin-bottom: 20px;
}

.postContainer::-webkit-scrollbar {
  display: none;
}

.post {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: right;
}

.content {
  background-color: #eee;
  padding: 10px;
  height: 100%;
  display: inline-block;
  border-radius: 10px;
  max-width: 60%;
}

.hotPost {
  justify-content: left;

  & > * {
    background-color: aqua;
  }
}

.searchBtn {
  font-size: 24px;
}

.box {
  width: 20%;
}