.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  font-size: 18px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  margin-right: 10px;
  flex-grow: 1;
}

.input:focus-visible {
  outline: none;
}