.container {
  display: flex;
  width: 100%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.commentInput {
  resize: none;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
}

.btn {
  align-self: self-end;
}