.roomContainer {
  display: flex;
  padding: 20px 0;
  align-items: center;
  cursor: pointer;
}

.roomContainer:not(:last-child) {
  border-bottom: 1px solid #b0b0b0;
}

.roomImg {
  width: 50px;
  border-radius: 10px;
  background-color: #eee;
  padding: 10px;
  margin-right: 20px;
}

.title {
  margin-bottom: 8px;
}