@font-face {
  font-family: 'Paperlogy-5Medium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

.roomContainer {
  display: flex;
  padding: 20px 0;
  align-items: center;
  cursor: pointer;
}

.roomContainer:not(:last-child) {
  border-bottom: 1px solid #b0b0b0;
}

.roomImg {
  width: 50px;
  border-radius: 10px;
  background-color: #eee;
  padding: 10px;
  margin-right: 20px;
}

.title {
  margin-bottom: 8px;
}

.content {
  font-size: 14px;
}